body {background-color: black;
text-align: center;
}
h1 {color: white;
font-family: verdana;
font-weight: normal;
font-size: 50px;
background-color: black;
}
h4 {color: aquamarine;
font-size: 16px;
}
